h1{
    color:blue;
    text-align:center;
    font-size:50px;
}
.sphome{
    max-width:300px;
}
.classdiv{
    max-width:350px;
    
}
a{
    background-color: white;
    color: black;
    border: 2px solid #73AD21;
    border-radius:5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.lienket:hover{
    background-color: #73AD21;
    color:white;
}
.lienket:active{
    background-color: green;
    border-color: green;

}
h3{
    color:red;
    font-size:25px;
}
.product_price{
    font-size:15px;
    font-weight:bold;
    color:#fa7c00;
    
}